{
  hosts = ''
    203.0.113.1 example.com
  '';

  iptables = ''
    # vpn with default interface name (tun/tap)
    iptables -A OUTPUT -d 192.0.2.15 -j ACCEPT

    # vpn with non-default interface name
    iptables -A OUTPUT -d 192.0.2.67 -j ACCEPT
    iptables -A OUTPUT -o cute-vpn -j ACCEPT
  '';

  vpn-config = "config /var/vpn/changeme.ovpn";
  vpn-username = "changeme";
  vpn-password = "changeme";

  # for redshift
  latitude = 42.42;
  longitude = 42.42;
}
